header.row
    .two.columns
        h1
            a(href='/') RheinMainJS
    .ten.columns
        h2
            small JavaScript User Group für Wiesbaden und Rhein-Main
        ul.inline-list
            li
                a(href='/') <strong>Home</strong>
            li
                a(href='/about') <strong>Über</strong>
            li
                a(href='/history') <strong>History</strong>
//    hr
