a(href='https://github.com/rheinmainjs/rheinmainjs') <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">

header.row
    .two.columns
        h1
            a(href='/') RheinMainJS
    .ten.columns
        h2
            small JavaScript User Group für Wiesbaden und Rhein-Main
        ul.inline-list
            li
                a(href='/') <strong>Startseite</strong>
            li
                a(href='/about') <strong>Über</strong>
            li
                a(href='/wishlist') <strong>Themenwünsche</strong>
            li
                a(href='/history') <strong>Archiv</strong>
