extends layout

block content
  .row
    .large-8.columns
        h3 Die gesuchte Seite existiert nicht
        p Bitte versuche es mit unserer&nbsp;
            a(href='/') Startseite
    .large-4.columns
