extends layout

block content
  .row
    .eight.columns
        h3 Die gesuchte Seite existiert nicht
        p Bitte versuche es mit unserer&nbsp;
            a(href='/') Startseite
    .four.columns
