extends layout

block content
    .row
      .large-8.columns
        h3 Über uns
        p
          :markdown
            **RheinMainJS** ist eine [User Group](http://de.wikipedia.org/wiki/Anwendergruppe) zum Thema JavaScript und angrenzende Gebiete wie mobile Entwicklung.
            Wir treffen uns zurzeit etwa alle zwei Monate in Wiesbaden oder Mainz. Die Teilnahme steht jedem offen und ist kostenlos.
            Bei unseren Treffen werden in der Regel zwei Vorträge mit anschließender Diskussion gehalten.

            **RheinMainJS** wird organisiert von [Reto Kiefer](http://www.retokiefer.com/), [Carsten Sandtner](http://appsbu.de/) und [Matthias Gutjahr](http://matthias-gutjahr.de/).

            **RheinMainJS** und [FrankfurtJS](http://frankfurtjs.org/) finden zeitlich abgestimmt im Wechsel statt - schaut auch dort mal vorbei!

            Danke an [Sebastian Fastner](http://www.sebastianfastner.de/) für die Domain und den [Twitter](https://twitter.com/RheinMainJS)-Account.

            ##### Eigene Vorträge
            Wer etwas zu einem interessanten Thema erzählen möchte, darf und soll gern einen Vortrag halten. Melde dich bei Interesse einfach bei uns: <orga@rheinmainjs.de>!
      .large-4.columns
        include includes/twitter
