extends layout

block content
    .row
      .eight.columns
        h3 Bisherige Treffen
        h5 04. März 2013
            p
            :markdown
                Das Treffen fand statt im Coworking-Space [heimathafen Wiesbaden](http://heimathafen-wiesbaden.de/), und folgende Vorträge wurden gehalten:
            ul.disc
                li
                    .title  <strong>JavaScript, die missverstandene Sprache&nbsp;&hellip; und wie man damit umgehen kann.</strong>
                    :markdown
                        von [Tilman Potthof](https://plus.google.com/113098341219473625001)<br/>
                        [[Folien](http://programmingisart.com/javascript/eine-missverstandene-sprache/#/)]
                li
                    .title <strong>Was steckt hinter <a href="http://rheinmainlogo.de/">RheinMainLogo</a>?</strong>
                    :markdown
                        von [Sebastian Fastner](http://www.sebastianfastner.de/)<br/>
                        [[Blogpost](http://sebastianfastner.de/rheinmainlogo.html)]
        h5 10. Dezember 2012
            p
            :markdown
                Das Treffen fand statt bei [Seibert Media](http://www.seibert-media.net/), und folgende Vorträge wurden gehalten:
            ul.disc
                li
                    .title  <strong>Native App-Entwicklung vs. Alternativen am Beispiel von Appcelerator</strong>
                    :markdown
                        von [Konstantin Filtschew](http://www.kf-proj.de/)<br/>
                        [[Folien](http://de.slideshare.net/konstantinfiltschew/native-app-entwicklung-vs-alternativen-am-beispiel-von-appcelerator)]
                li
                    .title <strong>Turn-by-Turn Navigation mit JavaScript</strong>
                    :markdown
                        von [Christian Bäuerlein](http://fabrik42.github.com/)<br/>
                        [[Folien](https://speakerdeck.com/fabrik42/turn-by-turn-navigation-in-the-browser)]
        h5 3. September 2012
            p
            :markdown
                Das Treffen fand statt bei [Die Firma](http://www.diefirma.de/), und folgende Vorträge wurden gehalten:
            ul.disc
                li
                    .title  <strong>Javascript Tooling</strong>
                    :markdown
                        von [Sebastian Werner](http://sebastian-werner.com/)
                li
                    .title <strong>lycheeJS: Cross-Platform JavaScript Game Library</strong>
                    :markdown
                        von [Christoph Martens](http://martens.ms/)
      .four.columns
        include includes/twitter
)
