extends layout

block content
    .row
      .eight.columns
        h3 Bisherige Treffen
        h5 10. Dezember 2012
            p
            :markdown
                Das Treffen fand statt bei [Seibert Media](http://www.seibert-media.net/), und folgende Vorträge wurden gehalten:
            ul.disc
                li
                    .title  <strong>Native App-Entwicklung vs. Alternativen am Beispiel von Appcelerator</strong>
                    :markdown
                        von [Konstantin Filtschew](http://www.kf-proj.de/)
                li
                    .title <strong>Turn-by-Turn Navigation mit JavaScript</strong>
                    :markdown
                        von [Christian Bäuerlein](http://fabrik42.github.com/)<br/>
                        [[Folien](https://speakerdeck.com/fabrik42/turn-by-turn-navigation-in-the-browser)]
        h5 3. September 2012
            p
            :markdown
                Das Treffen fand statt bei [Die Firma](http://www.diefirma.de/), und folgende Vorträge wurden gehalten:
            ul.disc
                li
                    .title  <strong>Javascript Tooling</strong>
                    :markdown
                        von [Sebastian Werner](http://sebastian-werner.com/)
                li
                    .title <strong>lycheeJS: Cross-Platform JavaScript Game Library</strong>
                    :markdown
                        von [Christoph Martens](http://martens.ms/)
        .four.columns
)
