extends layout

block content
    .row
      .large-8.columns
        h3 Bisherige Treffen
        div.panel
            h5 05. Juni 2014
            p
            :markdown
                Das Treffen fand bei [AOE](http://aoe.com/) in Wiesbaden statt, und folgende Vorträge wurden gehalten:
            ul.no-bullet
                li
                    .title  <strong>Sencha Ext Js (ExtJS 4</strong>
                    :markdown
                        von [Reto Kiefer](http://www.retokiefer.com/)<br/>
        div.panel
            h5 24. April 2014
            p
            :markdown
                Das Treffen fand bei [AOE](http://aoe.com/) in Wiesbaden statt, und folgende Vorträge wurden gehalten:
            ul.no-bullet
                li
                    .title  <strong>Traceur. Next Generation JavaScript - Now!</strong>
                    :markdown
                        von [Carsten Sandtner](http://appsbu.de/)<br/>
                        [[Folien](http://de.slideshare.net/casarock/traceur-rmjs-201404key)]
                li
                    .title <strong>gulp vs. grunt</strong>
                    :markdown
                        von [Marc Dix](https://twitter.com/marcdix)<br/>
                        [[Folien](http://slides.com/marcdix/gulp_v001)]
        div.panel
            h5 13. Februar 2014
            p
            :markdown
                Das Treffen fand bei [mediaman](http://mediaman.com/de/agency/) in Mainz statt, und folgende Vorträge wurden gehalten:
            ul.no-bullet
                li
                    .title  <strong>Game Development mit Spell.js</strong>
                    :markdown
                        von [Julian Haupt](http://spelljs.com/)
                li
                    .title <strong>MeteorJS vor dem Einschlag - Ein flexibles JavaScript Framework</strong>
                    :markdown
                        von [Heiko Spindler](https://www.xing.com/profile/Heiko_Spindler/) und [Niko Köbler](http://blog.n-k.de/)
        div.panel
            h5 04. März 2013
            p
            :markdown
                Das Treffen fand statt im Coworking-Space [heimathafen Wiesbaden](http://heimathafen-wiesbaden.de/), und folgende Vorträge wurden gehalten:
            ul.no-bullet
                li
                    .title  <strong>JavaScript, die missverstandene Sprache&nbsp;&hellip; und wie man damit umgehen kann.</strong>
                    :markdown
                        von [Tilman Potthof](https://plus.google.com/113098341219473625001)<br/>
                        [[Folien](http://programmingisart.com/javascript/eine-missverstandene-sprache/#/)]
                li
                    .title <strong>Was steckt hinter <a href="http://rheinmainlogo.de/">RheinMainLogo</a>?</strong>
                    :markdown
                        von [Sebastian Fastner](http://www.sebastianfastner.de/)<br/>
                        [[Folien](http://sebastianfastner.de/slides/rheinmainlogo-20130304/index.html)]<br/>
                        [[Blogpost](http://sebastianfastner.de/rheinmainlogo.html)]
        div.panel
            h5 10. Dezember 2012
            p
            :markdown
                Das Treffen fand statt bei [Seibert Media](http://www.seibert-media.net/), und folgende Vorträge wurden gehalten:
            ul.no-bullet
                li
                    .title  <strong>Native App-Entwicklung vs. Alternativen am Beispiel von Appcelerator</strong>
                    :markdown
                        von [Konstantin Filtschew](http://www.kf-proj.de/)<br/>
                        [[Folien](http://de.slideshare.net/konstantinfiltschew/native-app-entwicklung-vs-alternativen-am-beispiel-von-appcelerator)]
                li
                    .title <strong>Turn-by-Turn Navigation mit JavaScript</strong>
                    :markdown
                        von [Christian Bäuerlein](http://fabrik42.github.com/)<br/>
                        [[Folien](https://speakerdeck.com/fabrik42/turn-by-turn-navigation-in-the-browser)]
        div.panel
            h5 3. September 2012
            p
            :markdown
                Das Treffen fand statt bei [Die Firma](http://www.diefirma.de/), und folgende Vorträge wurden gehalten:
            ul.no-bullet
                li
                    .title  <strong>Javascript Tooling</strong>
                    :markdown
                        von [Sebastian Werner](http://sebastian-werner.com/)
                li
                    .title <strong>lycheeJS: Cross-Platform JavaScript Game Library</strong>
                    :markdown
                        von [Christoph Martens](http://martens.ms/)
      .large-4.columns
        include includes/twitter

