extends layout

block content
    .row
        .eight.columns
            h4 RheinMainJS geht weiter!
            :markdown
                Die JavaScript User Group in Wiesbaden und Mainz macht mit erweitertem Orga-Team weiter! Folgt uns auf [Twitter](https://twitter.com/RheinMainJS) und [Google+](http://google.com/+RheinmainjsDe) für aktuelle News.
            :markdown
                #### Nächstes Treffen
                Unser nächstes Treffen findet am <span class="label">05. Juni 2014</span> ab 19 Uhr bei [UDG Rhein-Main](http://www.udg.de/rhein-main/) in Mainz statt.

            :markdown
                Du möchtest einen Vortrag halten? Dann melde dich bei uns: [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)!
        .four.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Auch für das nächste Treffen werden wir wieder ein Google+-Event anlegen. Stay tuned!

            include includes/twitter
