extends layout

block content
    .row
        .eight.columns
            h4 RheinMainJS geht weiter!
            :markdown
                Die JavaScript User Group in Wiesbaden und Mainz macht mit erweitertem Orga-Team weiter! Folgt uns auf [Twitter](https://twitter.com/RheinMainJS) und [Google+](google.com/+RheinmainjsDe) für aktuelle News.
            :markdown
                #### Nächstes Treffen
                Unser nächstes Treffen findet <span class="label">am 13. Februar 2014 ab 19 Uhr</span> in den Räumen von [mediaman](http://mediaman.com/de/agency/) statt.

            p Folgende Vorträge sind geplant:
            ul.disc
                li
                    .title  <strong>Game Development mit Spell.js</strong>
                    :markdown
                        von [Julian Haupt](http://spelljs.com/)
                li
                    .title <strong>MeteorJS vor dem Einschlag - Ein flexibles JavaScript Framework</strong>
                    :markdown
                        von [Heiko Spindler](https://www.xing.com/profile/Heiko_Spindler/) und [Niko Köbler](http://blog.n-k.de/)
            :markdown
                **beer.js**: Im Anschluss planen wir noch ein gemütliches Beisammensein, Socializing und Networking in einem Lokal in der Nähe.

            :markdown
                Du möchtest einen Vortrag halten? Dann melde dich bei uns: [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)!
        .four.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Bitte melde dich [hier auf Google+](https://plus.google.com/events/cm473qjqm2e6kqko6dah67ftlhs) für das aktuelle Treffen an. Du erleichterst uns damit die Planung!

            include includes/twitter
