extends layout

block content
    .row
        .large-8.columns
            h4 Willkommen bei RheinMainJS!
            :markdown
                RheinMainJS ist die JavaScript User Group in Wiesbaden, Mainz und für das gesamte Rhein-Main-Gebiet! Folge uns auf [Twitter](https://twitter.com/RheinMainJS) und [Google+](http://google.com/+RheinmainjsDe) für aktuelle News.
            :markdown
                #### Nächstes Treffen
                Unser nächstes Treffen findet am <span class="label">04. Dezember 2014</span> ab 19 Uhr bei [mediaman](http://mediaman.com/de/agency/) in Mainz statt.

                Talk von [Peter Kröner](http://www.peterkroener.de/): **Web Components - Hintergründe und Praxiseinsatz**

                >Web Components sind eine der zentralen Zukunftstechnologien im WWW.
                 Mit Web Components können Webdesigner und Frontendentwickler HTML
                 selbst erweitern und komplett eigene Elemente entwerfen. Diese
                 gekapselten Komponenten erlauben erstmals wirklich modulare
                 Frontend-Entwicklung und den Austausch von Web-Modulen zwischen
                 Projekten, machen Web-Frontends robuster und erlauben auch
                 HTML-Novizen das Einbetten komplexer Funktionalitäten. Der Talk
                 beleuchtet die Hintergründe zu den neuen Webstandards hinter Web
                 Components und erklärt, wie jedermann mit Hilfe von Googles
                 Polymer-Projekt bereits heute eigene Web Components erstellen und
                 einsetzen kann.

            :markdown
                #### Du möchtest selbst einen Vortrag halten?

                Dann melde dich bei uns: [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)!
        .large-4.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Bitte melde dich [auf Google+](https://plus.google.com/) für das aktuelle Treffen an. Du erleichterst uns damit die Planung!

            include includes/twitter
