extends layout

block content
    .row
        .large-8.columns
            h4 RheinMainJS geht weiter!
            :markdown
                Die JavaScript User Group in Wiesbaden und Mainz macht mit erweitertem Orga-Team weiter! Folgt uns auf [Twitter](https://twitter.com/RheinMainJS) und [Google+](http://google.com/+RheinmainjsDe) für aktuelle News.
            :markdown
                #### Nächstes Treffen
                Unser nächstes Treffen findet am <span class="label">16. Oktober 2014</span> ab 19 Uhr bei [//SEIBERT/MEDIA](http://www.seibert-media.net/) in Wiesbaden statt.

            :markdown
                Du möchtest einen Vortrag halten? Dann melde dich bei uns: [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)!
        .large-4.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Bitte melde dich [hier auf Google+](https://plus.google.com/b/113716277582361446417/113716277582361446417) für das aktuelle Treffen an. Du erleichterst uns damit die Planung!

        include includes/twitter
