extends layout

block content
    .row
        .eight.columns
                h4 Nächstes Treffen
                :markdown
                    Unser nächstes Treffen findet <span class="label">2013</span> statt. Halte dich auch auf unserer [Google+-Seite](https://plus.google.com/113716277582361446417/) auf dem Laufenden!

                    Du möchtest einen Vortrag halten? Dann melde dich bei uns: <orga@rheinmainjs.de>!
                p Im Anschluss planen wir wie immer sein gemütliches Beisammensein, Socializing und Networking in einem Lokal in der Nähe.
        .four.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Auch für das nächste Treffen werden wir wieder ein Google+-Event anlegen. Stay tuned!
