extends layout

block content
    .row
        .eight.columns
            h4 RheinMainJS geht weiter!
            :markdown
                Die JavaScript User Group in Wiesbaden und Mainz macht mit erweitertem Orga-Team weiter! Folgt uns auf [Twitter](https://twitter.com/RheinMainJS) und [Google+](google.com/+RheinmainjsDe) für aktuelle News.
            :markdown
                #### Nächstes Treffen
                Unser nächstes Treffen findet voraussichtlich <span class="label">Mitte April</span> statt. Wer nicht so lange warten will, sollte bei unserem Schwester-Event [FrankfurtJS](http://frankfurtjs.org/) reinschauen.

            :markdown
                Du möchtest einen Vortrag halten? Dann melde dich bei uns: [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)!
        .four.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Auch für das nächste Treffen werden wir wieder ein Google+-Event anlegen. Stay tuned!

            include includes/twitter
