extends layout

block content
    .row
        .eight.columns
            h4 RheinMainJS geht weiter!
            :markdown
                Die JavaScript User Group in Wiesbaden und Mainz macht mit erweitertem Orga-Team weiter! Folgt uns auf [Twitter](https://twitter.com/RheinMainJS) und [Google+](google.com/+RheinmainjsDe) für aktuelle News.
            :markdown
                #### Nächstes Treffen
                Unser nächstes Treffen findet <span class="label">am 13. Februar 2014 ab 19 Uhr</span> in den Räumen von [mediaman](http://mediaman.com/de/agency/) statt.

            p Folgende Vorträge sind geplant:
            ul.disc
                li
                    .title  <strong>Game Development mit Spell.js</strong>
                    :markdown
                        von [Julian Haupt](http://spelljs.com/)
                li
                    .title <strong>Dein Thema!</strong>
                    :markdown
                        von Dir! Melde dich unter [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)
            :markdown
                **beer.js**: Im Anschluss planen wir noch ein gemütliches Beisammensein, Socializing und Networking in einem Lokal in der Nähe.

            :markdown
                Du möchtest einen Vortrag halten? Dann melde dich bei uns: [orga@rheinmainjs.de](mailto:orga@rheinmainjs.de)!
        .four.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Auch für das nächste Treffen werden wir wieder ein Google+-Event anlegen. Stay tuned!

            include includes/twitter
