extends layout

block content
    .row
        .eight.columns
                h4 Nächstes Treffen
                :markdown
                    Unser nächstes Treffen findet <span class="label">am 10. Dezember 2012 ab 19 Uhr</span> in den Räumen unseres Sponsors [Seibert Media](http://www.seibert-media.net/) statt.
                p Folgende Vorträge sind geplant:
                ul.disc
                    li
                        .title  <strong>Native App-Entwicklung vs. Alternativen am Beispiel von Appcelerator</strong>
                        :markdown
                            von [Konstantin Filtschew](http://konstantin.filtschew.de/blog/)
                    li
                        .title <strong>Turn-by-Turn Navigation mit JavaScript</strong>
                        :markdown
                            von [Christian Bäuerlein](http://fabrik42.github.com/)
                p Im Anschluss planen wir noch ein gemütliches Beisammensein, Socializing und Networking in einem Lokal in der Nähe.
        .four.columns
            .panel.radius
                :markdown
                    #### Anmeldung
                    Bitte melde dich [hier auf Google+](https://plus.google.com/events/cum4br4i9a0qou8mik98rjmv9m4) für das aktuelle Treffen an. Du erleichterst uns damit die Planung.
            .panel.radius.hide-for-large-up
                h4 Mobiles Routing
                <a href="http://instantnavi.com/to/rheinmainjs02" rel="navigation" title="instantnavi.com - RheinMainJS #02"><img src="http://instantnavi.com/images/banner/instantnavi-banner.png" class="instantnavi-banner" alt="instantnavi.com - instantnavi lets you create your own, fancy browser based navigation system." style="height:70;width:165" /></a>
