extends layout

block content
    .row
      .large-8.columns
        h3 Themenwünsche
        p
        :markdown
            Hier sammeln wir Themenwünsche, die von Teilnehmern geäußert wurden. Wenn du zu einem dieser Themen einen Vortrag halten möchtest, melde dich bei uns!

        ul.no-bullet
            li <a href="https://github.com/mrdoob/three.js/">three.js</a>
            li <a href="http://yeoman.io/">yeoman</a>
            li <a href="http://nodecopter.com/">NodeCopter</a>
            li <a href="http://angularjs.org/">AngularJS</a>
            li <a href="http://emberjs.com/">Ember.js</a>
      .large-4.columns
        include includes/twitter
